body {
 
    font-family:Arial,sans-serif;
    background-color: #f4f6f8;
    color: #1f2937;
    text-align: center;
    margin: 0;
    padding: 50px;

}


h1{

   color: #12355b;
   margin-bottom: 40px;
}


a{
   display: block;
   width: 250px;
   margin: 15px auto;
   padding: 15px;
   background-color: #12355b;
   color: white;
   text-decoration: none;
   border-radius: 8px;
   font-size: 18px;
   font-weight:  bold;
}


a:hover{

    background-color: #1d70a2;
}